.nav
    nav#navigation.navbar.navbar-expand-lg.navbar-dark.pl-4
    a.navbar-brand(href='#') Home
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
        div#navbarNav.collapse.navbar-collapse
        div.navbar-nav
        a.nav-item.nav-link(href='#')
            | Recipes 
            span.sr-only (current)
        a.nav-item.nav-link(href='#') Lifestyle
        a.nav-item.nav-link(href='#') VIdeos
        a.nav-item.nav-link(href='#') About
